*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul, ol{
    list-style-type: none;
}
h1{
    color: red;
}
.productMain{
    margin: 10px auto;
    width: 300px;
    border: 1px solid gray;
}
#formProduct input{
    padding: 10px;
    outline: none;
    border: none;
}
#searchBtn{
    padding: 10px;
    background: red;
    color: #fff;
    cursor: pointer;
    border: none;
    text-transform: uppercase;
}
#proMainDiv{
    width: 90%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
}
#productCard {
    width: 18%;
    border: 1px solid grey;
    padding: 10px;
    background: rgb(181, 169, 169);
}
#productCard  img{
    width: 100%;
    display: block;
}
#productCard  h2{
    font-size: 20px;
}
#productCard a button{
    width: 100%;
    padding: 5px;
    cursor: pointer;
    margin-top: 10px;
}