*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul, ol{
    list-style-type: none;
}
h1{
    color: red;
}
.productMain{
    margin: 10px auto;
    width: 300px;
    border: 1px solid gray;
}
.productMain2{
    margin: 10px auto;
    width: 300px;
    border: 1px solid gray;
}
.productMain3{
    margin: 10px auto;
    width: 300px;
    border: 1px solid gray;
}
#formProduct input{
    padding: 10px;
    outline: none;
    border: none;
}
#formProduct2 input{
    padding: 10px;
    outline: none;
    border: none;
    background: rgb(228, 239, 133);
}
#formProduct3 input{
    padding: 10px;
    outline: none;
    border: none;
    background: rgb(90, 213, 184);
}
#searchBtn{
    padding: 10px;
    background: red;
    color: #fff;
    cursor: pointer;
    border: none;
    text-transform: uppercase;
}
#searchBtn2{
    padding: 10px;
    background: rgb(137, 127, 221);
    color: #fff;
    cursor: pointer;
    border: none;
    text-transform: uppercase;
}
#searchBtn3{
    padding: 10px;
    background: rgb(89, 250, 127);
    color: #fff;
    cursor: pointer;
    border: none;
    text-transform: uppercase;
}
#proMainDiv{
    width: 90%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
}
#proMainDiv2{
    width: 90%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
}
#proMainDiv3{
    width: 90%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
}
#proMainDiv4{
    width: 90%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
}
#productCard {
    width: 18%;
    border: 1px solid grey;
    padding: 10px;
    background: rgb(181, 169, 169);
}
#productCard2 {
    width: 18%;
    border: 1px solid grey;
    padding: 10px;
    background: rgb(181, 169, 169);
}
#productCard3 {
    width: 18%;
    border: 1px solid grey;
    padding: 10px;
    background: rgb(225, 140, 140);
}
#productCard4 {
    width: 18%;
    border: 1px solid grey;
    padding: 10px;
    background: rgb(225, 140, 140);
}
#productCard  img{
    width: 100%;
    display: block;
}
#productCard2  img{
    width: 100%;
    display: block;
}
#productCard3  img{
    width: 100%;
    display: block;
}
#productCard  h2{
    font-size: 20px;
}
#productCard2  h2{
    font-size: 20px;
}
#productCard3  h2{
    font-size: 20px;
}
#productCard4  h2{
    font-size: 16px;
}
#productCard4  h3{
    font-size: 16px;
}
#productCard a button{
    width: 100%;
    padding: 5px;
    cursor: pointer;
    margin-top: 10px;
}
#productCard2 a button{
    width: 100%;
    padding: 5px;
    cursor: pointer;
    margin-top: 10px;
}
#productCard3 a button{
    width: 100%;
    padding: 5px;
    cursor: pointer;
    margin-top: 10px;
}